*{
    margin: 0px;
    padding: 0px;
}
.box{
    border: 2px dotted black;
    margin: 2px;
    border-radius: 25px;
    height: 250px;
    width: 250px;
    flex-grow: 1;
}
#container{
    background-color: aqua;
    border: 3px solid black;
    height: 300px;
    width: 500px;
    margin: 5px;

    display: flex;
   
    justify-content: center;
    
  
}

#box1{background-color: antiquewhite;
order: 3;}
#box2{background-color: rgb(215, 250, 222);
 order: 2; }
#box3{background-color: rgb(250, 215, 215);
  order: 1; }
#box4{background-color: rgb(222, 215, 250);
order: 4;}