*{
    margin: 0px;
    padding: 0px;
}

#container{
    background-color: antiquewhite;
    border: 3px solid black;
    margin: 5px;
    height: 500px;
    width: 500px;

    display: flex;
   
    flex-wrap: wrap-reverse;
    /*
    flex-wrap: nowrap;
    flex-wrap: wrap;
    */

    
}
.box{
    margin: 5px;
    border: dashed black;
    border-radius: 25px;
    height: 120px;
    width: 120px;

}
#box1{
    background-color: aqua;
    text-align: center;
}
#box2{
    background-color: rgb(255, 179, 0);
    text-align: center;
}
#box3{
    background-color: rgb(255, 85, 0);
    text-align: center;
}
#box4{
    background-color: rgb(119, 0, 255);
    text-align: center;
}
#box5{
    background-color: rgb(255, 0, 242);
    text-align: center;
}
#box6{
    background-color: rgb(221, 255, 0);
    text-align: center;
}
#box7{
    background-color: rgb(0, 255, 42);
    text-align: center;
}