*{
    margin: 0px;
    padding: 0px;
}
#container{
    background-color: aqua;
    border: 5px dashed black;
    height: 200px;
    width: 500px;
    margin: 20px;
    /*
    display: flex;
    flex-direction: row-reverse;
    flex-direction: row;
    flex-direction: column;
    flex-direction: column-reverse;
    f
    */
    display: flex;
   /* justify-content: flex-end;
   justify-content: flex-start;
    justify-content: center;
    justify-content: space-around;*/
    /*justify-content: space-between;
    these alll are for spacing purpose*/
    justify-content: space-evenly;
    
    
}
.Box{
    height: 70px;
    width: 70px;
    border-radius: 20px ;
    border: 2px solid black;
    margin-right: 5px;
    margin: 5px;
}
#box1{background-color: blue;}
#box2{background-color: rgb(174, 255, 0);}
#box3{background-color: rgb(255, 89, 0);}
#box4{background-color: rgb(159, 159, 172);}
#head{
    text-align: center;
}
#box1{
    text-align: center;
    
}