*{
    margin: 0px;
    padding: 0px;
}
.item{
    margin: 5px;
    height: 100px;
    width: 100px;
    border: 2px solid black;

}
#head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#container{
    margin: 5px;
    background-color: aquamarine;
    border: 2px solid black;
    height: 300px;
    width: 500px;

    display: grid;
    /*we need to define number of rows and nums of col*/
    grid-template-columns: 80px 100px;
    grid-template-rows: 50px 100px;
}
#itemA{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: azure;

}
#itemB{
    grid-row: 2/2;
    grid-column: 1/2;
    background-color: blue;
}
#itemC{
    grid-row: 1/2;
    grid-column: 2/2;
    background-color: rgb(255, 0, 153);
}
#itemD{
    grid-row: 2/2;
    grid-column: 2/2;
    background-color: rgb(255, 0, 17);
}