*{
    margin: 0px;
    padding: 0px;
}
/* there are 4 types of Positions property*/
.box{
   width: 50px;
   height: 50px;
   background-color: aquamarine;
   margin: 5px;
}
#box1{
    position: static;
    
}
#box2{
    position: relative;
    top: 10px;
    left: 50px;
}
#box3{
    position: absolute;
    top: 20px;
    /* 1 dusre k upar*/

}
#box4{
    position: fixed;
    right: 20px;
}