*{
    margin: 0px;
    padding: 0px;
}
nav{
    padding:5px ;
}
nav a{
    text-decoration: none; /* Isme jo underlines hai wo htt jayega*/
    margin-left: 90px;
    height: 30px;
}
header{
    background-color: aqua;
}
#second{
    height: 40px;
    width: 40px;
    background-color: green;
    border-radius: 50%;
}
.box{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin: 10px;
    display: inline-block;

}
#container{
    border: 3px dashed;
    margin: 5px;
}
#box{
    position: fixed;
    right: 10px;
}
footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(10, 11, 11);
    position: fixed;
    bottom: 2px;
    padding: 5px;
   
    background-color: bisque;
}