#first{
    background-color: aqua;
    height: 100px;
    width: 100px;
    font-size: 10px;
}
#second{
    background-color: wheat;
    height: 50%;
    width:50% ;
    font-size: 0.5em;
}
/* View Port is jitna bi area defined hai and vissible hai*/